html, body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/castle-928557.jpg");
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.wrapper {
    max-width: 40em;
    margin: 1em auto;
    font-family: sans-serif;
    background: rgba(0,0,0,.5);
    padding: 5%;
}

header {
  overflow: auto;
}

header img {
  max-width: 75px;
  max-height: 75px;
  float: left;
  padding: 5px;
}

header img:first-child {
  float: right;
}

h1 {

    display: inline-block;
}

.players {
  margin: 1rem;
}

.scores {
  display: none;
}

.scores span {
  font-weight: bold;
}

.scores img {
  max-width: 2em;
  max-height: 2em;
}

button {
  background-color: #4F4333;
  color: white;
  border: 1px solid #2C3921;
  padding: 5px;
  margin: 5px;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#board {
    width: 15rem;
    height: 15rem;
    font-size: 0;
    border: 2px solid #4F4333;
    margin: 5% auto;
    background-color: #fff;
}
.cell, .filled, .win {
    border: 2px solid #4F4333;
    width: 5rem;
    height: 5rem;
    display: block;
    float: left;
    margin: 0;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
}

.cell:hover {
  background-color: #2C3921;
}

.win {
  border-color: #57a957;
}
