body {
    max-width: 40em;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#board {
    width: 15rem;
    height: 15rem;
    font-size: 0;
    border: 2px solid brown;
    margin: 0 auto;
}
.cell, .win {
    border: 2px solid brown;
    width: 5rem;
    height: 5rem;
    display: block;
    float: left;
    margin: 0;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
}

.win {
  color: green;
}
