html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/castle-928557.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.wrapper {
    max-width: 40em;
    margin: auto;
    font-family: sans-serif;
    background: rgba(0,0,0,.75);
    padding: 5%;
}

header {
  overflow: auto;
}

header img {
  max-width: 5rem;
  max-height: 5rem;
  float: left;
  padding: 5px;
}

header img:first-child {
  float: right;
}

h1 {

    display: inline-block;
}

.players {
  margin: 1rem;
}

#result {
  display: none;
}

.score {
  font-weight: bold;
  font-size: 1.15em;
}

.scores img {
  max-width: 2em;
  max-height: 2em;
}

button {
  background-color: #4F4333;
  color: white;
  border: 1px solid #2C3921;
  padding: 5px;
  margin: 5px;
  font-size: 1.2rem;
  transition: background-color .5s;
}

button:hover {
  background-color: #585406;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#board {
    width: 15rem;
    height: 15rem;
    font-size: 0;
    border: 2px solid #4F4333;
    margin: 5% auto;
    background-color: #fff;
}
.cell, .filled, .win {
    border: 2px solid #4F4333;
    width: 5rem;
    height: 5rem;
    display: block;
    float: left;
    margin: 0;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
}

.cell:hover {
  background-color: #2C3921;
}

.win {
  border-color: #57a957;
}

@keyframes placeToken {
  from {
    max-height: 0;
    max-width: 0;
  }
  to {
    max-height: 100%;
    max-width: 100%;
  }
}

.filled img {
  animation-name: placeToken;
  animation-duration: .5s;
  margin: auto;
}

@media (min-width: 25rem){
  .player {
    display: inline-block;
    min-width: 40%;
  }
}

@media (min-width: 30rem){
  #board {
    width: 18rem;
    height: 18rem;
    border-width: 3px;
  }
  .cell, .filled, .win {
    width: 6rem;
    height: 6rem;
    border-width: 3px;
  }
}

@media (min-width: 40rem){
  #board {
    width: 19.5rem;
    height: 19.5rem;
    border-width: 4px;
  }
  .cell, .filled, .win {
    width: 6.5rem;
    height: 6.5rem;
    border-width: 4px;
  }
}

@media (min-height: 35rem){
  .wrapper {
    margin: 1rem auto;
  }
}

@media (min-height: 40rem){
  .wrapper {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
